<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.CheLiangTaiZhangMapper">
	<insert id="uploadJinChang" parameterType="com.znczCxtc.entity.CheLiangTaiZhang">
		insert into che_liang_tai_zhang
		<trim prefix="(" suffix=")" suffixOverrides=",">
				jcsj,
			<if test="jczp!=null">
				jczp,
			</if>
			<if test="ddId!=null">
				ddId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
				now(),
			<if test="jczp!=null">
				#{jczp},
			</if>
			<if test="ddId!=null">
				#{ddId},
			</if>
		</trim>
	</insert>
	<update id="uploadChuChang" parameterType="com.znczCxtc.entity.CheLiangTaiZhang">
		update che_liang_tai_zhang set
		<trim suffixOverrides=",">
				ccsj=now(),
			<if test="cczp!=null">
				cczp=#{cczp},
			</if>
		</trim>
		 where ddId=#{ddId}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from che_liang_tai_zhang cltz left join ding_dan dd on cltz.ddId=dd.id left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id left join che_liang cl on dd.cyclId=cl.id where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cyclCph!=''&amp;cyclCph!=null">
			and cl.cph like CONCAT('%',#{cyclCph},'%')
		</if>
		<if test="ddztIdList!=null">
			and dd.ddztId=#{ddztId}
			<foreach collection="ddztIdList" item="ddztId" open=" and cast(ddzt.id as char) in (" separator="," close=")">
			#{ddztId}
			</foreach>
		</if>
		<if test="ddztMcList!=null">
			<foreach collection="ddztMcList" item="ddztMc" open=" and cast(ddzt.mc as char) in (" separator="," close=")">
			#{ddztMc}
			</foreach>
		</if>
		<if test="jcsjs!=''&amp;jcsjs!=null&amp;jcsje!=''&amp;jcsje!=null">
			and cltz.jcsj between #{jcsjs} and #{jcsje}
		</if>
		<if test="ccsjs!=''&amp;ccsjs!=null&amp;ccsje!=''&amp;ccsje!=null">
			and cltz.ccsj between #{ccsjs} and #{ccsje}
		</if>
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.CheLiangTaiZhang">
		select cltz.*,dd.ddh,ddzt.mc ddztMc,cl.cph cyclCph from che_liang_tai_zhang cltz left join ding_dan dd on cltz.ddId=dd.id left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id left join che_liang cl on dd.cyclId=cl.id where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cyclCph!=''&amp;cyclCph!=null">
			and cl.cph like CONCAT('%',#{cyclCph},'%')
		</if>
		<if test="ddztIdList!=null">
			and dd.ddztId=#{ddztId}
			<foreach collection="ddztIdList" item="ddztId" open=" and cast(ddzt.id as char) in (" separator="," close=")">
			#{ddztId}
			</foreach>
		</if>
		<if test="ddztMcList!=null">
			<foreach collection="ddztMcList" item="ddztMc" open=" and cast(ddzt.mc as char) in (" separator="," close=")">
			#{ddztMc}
			</foreach>
		</if>
		<if test="jcsjs!=''&amp;jcsjs!=null&amp;jcsje!=''&amp;jcsje!=null">
			and cltz.jcsj between #{jcsjs} and #{jcsje}
		</if>
		<if test="ccsjs!=''&amp;ccsjs!=null&amp;ccsje!=''&amp;ccsje!=null">
			and cltz.ccsj between #{ccsjs} and #{ccsje}
		</if>
		order by cltz.jcsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczCxtc.entity.CheLiangTaiZhang">
		select cltz.*,dd.ddh,dd.lxlx,ddzt.mc ddztMc,cl.cph cyclCph from che_liang_tai_zhang cltz left join ding_dan dd on cltz.ddId=dd.id left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id left join che_liang cl on dd.cyclId=cl.id where cltz.id=#{id}
	</select>
</mapper>