<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.DuiLieMapper">
	<insert id="add" parameterType="com.znczCxtc.entity.DuiLie">
		insert into dui_lie
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				mc,
			</if>
			<if test="dm!=null">
				dm,
			</if>
			<if test="jhxs!=null">
				jhxs,
			</if>
			<if test="jhyz!=null">
				jhyz,
			</if>
			<if test="zt!=null">
				zt,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				#{mc},
			</if>
			<if test="dm!=null">
				#{dm},
			</if>
			<if test="jhxs!=null">
				#{jhxs},
			</if>
			<if test="jhyz!=null">
				#{jhyz},
			</if>
			<if test="zt!=null">
				#{zt},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from dui_lie where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.znczCxtc.entity.DuiLie">
		update dui_lie set 
		<trim suffixOverrides=",">
			<if test="mc!=null">
				mc=#{mc},
			</if>
			<if test="dm!=null">
				dm=#{dm},
			</if>
			<if test="jhxs!=null">
				jhxs=#{jhxs},
			</if>
			<if test="jhyz!=null">
				jhyz=#{jhyz},
			</if>
			<if test="zt!=null">
				zt=#{zt},
			</if>
		</trim>
		 where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from dui_lie where 1=1
		<if test="mc!=''&amp;mc!=null">
			and mc like CONCAT('%',#{mc},'%')
		</if> 
		<if test="dm!=''&amp;dm!=null">
			and dm like CONCAT('%',#{dm},'%')
		</if> 
		<if test="zt!=''&amp;zt!=null">
			and zt like CONCAT('%',#{zt},'%')
		</if> 
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.DuiLie">
		select * from dui_lie where 1=1
		<if test="mc!=''&amp;mc!=null">
			and mc like CONCAT('%',#{mc},'%')
		</if>
		<if test="dm!=''&amp;dm!=null">
			and dm like CONCAT('%',#{dm},'%')
		</if> 
		<if test="zt!=''&amp;zt!=null">
			and zt like CONCAT('%',#{zt},'%')
		</if> 
		 limit ${start},${rows}
	</select>
	<select id="selectById" resultType="com.znczCxtc.entity.DuiLie">
		select * from dui_lie where id=#{0}
	</select>
	<select id="queryCBBList" resultType="com.znczCxtc.entity.DuiLie">
		select id,mc from dui_lie where 1=1
		<if test="zt!=''&amp;zt!=null">
			and zt=#{zt}
		</if> 
	</select>
	<select id="getIdByDdId" resultType="java.lang.Integer">
		select dl.id from ding_dan dd,shou_huo_dan_wei shdw,dui_lie dl where dd.shdwId=shdw.id and shdw.dlId=dl.id and dd.id=#{ddId}
	</select>
</mapper>