<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.ExportExcelMapper">
	<select id="queryGBJList" resultType="com.znczCxtc.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh,cl.cph cyclCph from guo_bang_ji_lu gbjl,ding_dan dd,che_liang cl where gbjl.ddId=dd.id and dd.cyclId=cl.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="cyclCph!=''&amp;cyclCph!=null">
			and dd.cph like CONCAT('%',#{cyclCph},'%')
		</if>
		<if test="gbsjks!=''&amp;gbsjks!=null&amp;gbsjjs!=''&amp;gbsjjs!=null">
			and gbjl.gbsj between #{gbsjks} and #{gbsjjs}
		</if>
		order by gbjl.gbsj desc
		<if test="dcfw==@com.znczCxtc.util.Constant@DANG_QIAN_YE">
			limit #{rowNum},#{rows}
		</if>
	</select>
</mapper>