<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.HaoMaMapper">
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from hao_ma hm left join hao_ma_zhuang_tai hmzt on hm.hmztId=hmzt.id left join dui_lie dl on hm.dlId=dl.id where 1=1
		<if test="dlMc!=''&amp;dlMc!=null">
			and dl.mc like CONCAT('%',#{dlMc},'%')
		</if> 
		<if test="hm!=''&amp;hm!=null">
			and hm like CONCAT('%',#{hm},'%')
		</if> 
		<if test="pdh!=''&amp;pdh!=null">
			and pdh like CONCAT('%',#{pdh},'%')
		</if> 
		<if test="hmztId!=''&amp;hmztId!=null">
			and hmztId=#{hmztId}
		</if> 
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.HaoMa">
		select hm.*,hmzt.mc ztMc,dl.mc dlMc from hao_ma hm left join hao_ma_zhuang_tai hmzt on hm.hmztId=hmzt.id left join dui_lie dl on hm.dlId=dl.id where 1=1
		<if test="dlMc!=''&amp;dlMc!=null">
			and dl.mc like CONCAT('%',#{dlMc},'%')
		</if> 
		<if test="hm!=''&amp;hm!=null">
			and hm like CONCAT('%',#{hm},'%')
		</if> 
		<if test="pdh!=''&amp;pdh!=null">
			and pdh like CONCAT('%',#{pdh},'%')
		</if> 
		<if test="hmztId!=''&amp;hmztId!=null">
			and hmztId=#{hmztId}
		</if>
		limit #{rowNum},#{rows}
	</select>
	<insert id="add" parameterType="com.znczCxtc.entity.HaoMa">
		insert into hao_ma
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hm!=null">
				hm,
			</if>
			<if test="pdh!=null">
				pdh,
			</if>
				prsj,
			<if test="hmztId!=null">
				hmztId,
			</if>
			<if test="fl!=null">
				fl,
			</if>
			<if test="ksjhsj!=null">
				ksjhsj,
			</if>
			<if test="jhcs!=null">
				jhcs,
			</if>
			<if test="ddId!=null">
				ddId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hm!=null">
				#{hm},
			</if>
			<if test="pdh!=null">
				#{pdh},
			</if>
				now(),
			<if test="hmztId!=null">
				#{hmztId},
			</if>
			<if test="fl!=null">
				#{fl},
			</if>
			<if test="ksjhsj!=null">
				#{ksjhsj},
			</if>
				0,
			<if test="ddId!=null">
				#{ddId},
			</if>
		</trim>
	</insert>
	<select id="selectHaoMaById" resultType="com.znczCxtc.entity.HaoMa">
		select * from hao_ma where id=#{id}
	</select>
	<select id="getJhPdList" resultType="com.znczCxtc.entity.HaoMa">
		select hm.*,cl.cph clCph from hao_ma hm,hao_ma_zhuang_tai hmzt,ding_dan dd,che_liang cl where hm.hmztId=hmzt.id
		 and (hmzt.mc=${@com.znczCxtc.entity.HaoMaZhuangTai@PAI_DUI_ZHONG_TEXT} or hmzt.mc=${@com.znczCxtc.entity.HaoMaZhuangTai@JIAO_HAO_ZHONG_TEXT})
		  and hm.ddId=dd.id and dd.cyclId=cl.id
	</select>
	<update id="edit" parameterType="com.znczCxtc.entity.HaoMa">
		update hao_ma set 
		<trim suffixOverrides=",">
			<if test="hm!=null">
				hm=#{hm},
			</if>
			<if test="pdh!=null">
				pdh=#{pdh},
			</if>
			<if test="hmztId!=null">
				hmztId=#{hmztId},
			</if>
			<if test="fl!=null">
				fl=#{fl},
			</if>
			<if test="jhcs!=null">
				jhcs=#{jhcs},
			</if>
			<if test="dlId!=null">
				dlId=#{dlId},
			</if>
			<if test="ddId!=null">
				ddId=#{ddId},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="getMaxHmByDlId" resultType="java.lang.Integer">
		select max(hm.hm) hm from hao_ma hm,ding_dan dd,shou_huo_dan_wei shdw,dui_lie dl where hm.ddId=dd.id and dd.shdwId=shdw.id and shdw.dlId=dl.id and dl.id=#{dlId}
	</select>
	<select id="getMaxPdh" resultType="java.lang.Integer">
		select max(hm.pdh) pdh from hao_ma hm,ding_dan dd,ding_dan_zhuang_tai ddzt where hm.ddId=dd.id and dd.ddztId=ddzt.id and ddzt.mc=${@com.znczCxtc.entity.DingDanZhuangTai@PAI_DUI_ZHONG_TEXT}
	</select>
</mapper>