<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.HaoMaMapper">
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from hao_ma hm left join hao_ma_zhuang_tai hmzt on hm.hmztId=hmzt.id left join ding_dan dd on hm.ddId=dd.id
		 left join shou_huo_dan_wei shdw on dd.shdwId=shdw.id left join dui_lie dl on shdw.dlId=dl.id where 1=1
		<if test="dlMc!=''&amp;dlMc!=null">
			and dl.mc like CONCAT('%',#{dlMc},'%')
		</if> 
		<if test="hm!=''&amp;hm!=null">
			and hm like CONCAT('%',#{hm},'%')
		</if> 
		<if test="pdh!=''&amp;pdh!=null">
			and pdh like CONCAT('%',#{pdh},'%')
		</if> 
		<if test="hmztId!=''&amp;hmztId!=null">
			and hmztId=#{hmztId}
		</if> 
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.HaoMa">
		select hm.*,hmzt.mc hmztMc,dl.mc dlMc from hao_ma hm left join hao_ma_zhuang_tai hmzt on hm.hmztId=hmzt.id left join ding_dan dd on hm.ddId=dd.id
		 left join shou_huo_dan_wei shdw on dd.shdwId=shdw.id left join dui_lie dl on shdw.dlId=dl.id where 1=1
		<if test="dlMc!=''&amp;dlMc!=null">
			and dl.mc like CONCAT('%',#{dlMc},'%')
		</if> 
		<if test="hm!=''&amp;hm!=null">
			and hm like CONCAT('%',#{hm},'%')
		</if> 
		<if test="pdh!=''&amp;pdh!=null">
			and pdh like CONCAT('%',#{pdh},'%')
		</if> 
		<if test="hmztId!=''&amp;hmztId!=null">
			and hmztId=#{hmztId}
		</if>
		limit #{rowNum},#{rows}
	</select>
	<insert id="add" parameterType="com.znczCxtc.entity.HaoMa">
		insert into hao_ma
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hm!=null">
				hm,
			</if>
			<if test="pdh!=null">
				pdh,
			</if>
				prsj,
			<if test="hmztId!=null">
				hmztId,
			</if>
			<if test="fl!=null">
				fl,
			</if>
				jhcs,
			<if test="ddId!=null">
				ddId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hm!=null">
				#{hm},
			</if>
			<if test="pdh!=null">
				#{pdh},
			</if>
				now(),
			<if test="hmztId!=null">
				#{hmztId},
			</if>
			<if test="fl!=null">
				#{fl},
			</if>
				0,
			<if test="ddId!=null">
				#{ddId},
			</if>
		</trim>
	</insert>
	<select id="selectHaoMaById" resultType="com.znczCxtc.entity.HaoMa">
		select * from hao_ma where id=#{id}
	</select>
	<select id="getJhPdList" resultType="com.znczCxtc.entity.HaoMa">
		select hm.*,hmzt.mc hmztMc,cl.cph clCph from hao_ma hm,hao_ma_zhuang_tai hmzt,ding_dan dd,che_liang cl where hm.hmztId=hmzt.id
		 and (hmzt.mc='${@com.znczCxtc.entity.HaoMaZhuangTai@PAI_DUI_ZHONG_TEXT}' or hmzt.mc='${@com.znczCxtc.entity.HaoMaZhuangTai@JIAO_HAO_ZHONG_TEXT}')
		  and hm.ddId=dd.id and dd.cyclId=cl.id
	</select>
	<update id="edit" parameterType="com.znczCxtc.entity.HaoMa">
		update hao_ma set 
		<trim suffixOverrides=",">
			<if test="hm!=null">
				hm=#{hm},
			</if>
			<if test="pdh!=null">
				pdh=#{pdh},
			</if>
			<if test="hmztId!=null">
				hmztId=#{hmztId},
			</if>
			<if test="fl!=null">
				fl=#{fl},
			</if>
			<if test="ksjhsj!=null">
				ksjhsj=#{ksjhsj},
			</if>
			<if test="jhcs!=null">
				jhcs=#{jhcs},
			</if>
			<if test="ddId!=null">
				ddId=#{ddId},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="getMaxHmByDlId" resultType="java.lang.Integer">
		select max(hm.hm) hm from hao_ma hm,ding_dan dd,shou_huo_dan_wei shdw,dui_lie dl where hm.ddId=dd.id and dd.shdwId=shdw.id and shdw.dlId=dl.id and dl.id=#{dlId}
	</select>
	<select id="getMaxPdh" resultType="java.lang.Integer">
		select max(hm.pdh) pdh from hao_ma hm,hao_ma_zhuang_tai hmzt where hm.hmztId=hmzt.id and hmzt.mc='${@com.znczCxtc.entity.DingDanZhuangTai@PAI_DUI_ZHONG_TEXT}'
	</select>
	<select id="getSlzList" resultType="com.znczCxtc.entity.HaoMa">
		select count(hm.id) slzsl,dl.id dlId,dl.jhyz dlJhyz from hao_ma hm,hao_ma_zhuang_tai hmzt,ding_dan dd,shou_huo_dan_wei shdw,dui_lie dl where hm.hmztId=hmzt.id and hm.ddId=dd.id
		 and dd.shdwId=shdw.id and shdw.dlId=dl.id and hmzt.mc='${@com.znczCxtc.entity.HaoMaZhuangTai@SHOU_LI_ZHONG_TEXT}' GROUP BY dl.id
	</select>
	<select id="getFirstWmdPdz" resultType="com.znczCxtc.entity.HaoMa">
		select hm.* from hao_ma hm,ding_dan dd,hao_ma_zhuang_tai hmzt,shou_huo_dan_wei shdw,dui_lie dl where hm.ddId=dd.id and dd.shdwId=shdw.id
		 and shdw.dlId=dl.id and hm.hmztId=hmzt.id and hmzt.mc='${@com.znczCxtc.entity.DingDanZhuangTai@PAI_DUI_ZHONG_TEXT}'
		<foreach collection="ymdDlIdList" item="ymdDlId" open=" and cast(dl.id as char) not in (" separator="," close=")">
		#{ymdDlId}
		</foreach>
		  ORDER BY pdh LIMIT 0,1
	</select>
	<select id="getPdzList" resultType="com.znczCxtc.entity.HaoMa">
		select hm.* from hao_ma hm,hao_ma_zhuang_tai hmzt where hm.hmztId=hmzt.id and hmzt.mc='${@com.znczCxtc.entity.HaoMaZhuangTai@PAI_DUI_ZHONG_TEXT}' ORDER BY hm.hm
	</select>
	<select id="getLastByDdId" resultType="com.znczCxtc.entity.HaoMa">
		select * from hao_ma where ddId=#{ddId} order by prsj desc LIMIT 0,1
	</select>
</mapper>