<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.ShouHuoDanWeiMapper">
	<insert id="add" parameterType="com.znczCxtc.entity.ShouHuoDanWei">
		insert into shou_huo_dan_wei
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				mc,
			</if>
				bjsj,
			<if test="ywdl!=null">
				ywdl,
			</if>
				dlId
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				#{mc},
			</if>
				now(),
			<if test="ywdl!=null">
				#{ywdl},
			</if>
				#{dlId},
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from shou_huo_dan_wei where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.znczCxtc.entity.ShouHuoDanWei">
		update shou_huo_dan_wei set 
		<trim suffixOverrides=",">
			<if test="mc!=null">
				mc=#{mc},
			</if>
				bjsj=now(),
			<if test="ywdl!=null">
				ywdl=#{ywdl},
			</if>
				dlId=#{dlId},
		</trim>
		 where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from shou_huo_dan_wei shdw left join dui_lie dl on shdw.dlId=dl.id where 1=1
		<if test="mc!=''&amp;mc!=null">
			and shdw.mc like CONCAT('%',#{mc},'%')
		</if> 
		<if test="(ywdl!='' or ywdl==0)&amp;ywdl!=null">
			and shdw.ywdl=#{ywdl}
		</if> 
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.ShouHuoDanWei">
		select shdw.*,dl.mc dlMc from shou_huo_dan_wei shdw left join dui_lie dl on shdw.dlId=dl.id where 1=1
		<if test="mc!=''&amp;mc!=null">
			and shdw.mc like CONCAT('%',#{mc},'%')
		</if> 
		<if test="(ywdl!='' or ywdl==0)&amp;ywdl!=null">
			and shdw.ywdl=#{ywdl}
		</if> 
	</select>
	<select id="selectById" resultType="com.znczCxtc.entity.ShouHuoDanWei">
		select shdw.*,dl.mc dlMc from shou_huo_dan_wei shdw left join dui_lie dl on shdw.dlId=dl.id where shdw.id=#{0}
	</select>
	<select id="queryCBBList" resultType="com.znczCxtc.entity.ShouHuoDanWei">
		select id,mc from shou_huo_dan_wei
	</select>
</mapper>