<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.SiJiMapper">
	<insert id="add" parameterType="com.znczCxtc.entity.SiJi">
		insert into si_ji
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="xm!=null">
				xm,
			</if>
			<if test="sjh!=null">
				sjh,
			</if>
			<if test="sfzzp!=null">
				sfzzp,
			</if>
			<if test="sfzh!=null">
				sfzh,
			</if>
			<if test="zgzs!=null">
				zgzs,
			</if>
			<if test="zgzyxqz!=null">
				zgzyxqz,
			</if>
			<if test="jz!=null">
				jz,
			</if>
			<if test="jzyxqz!=null">
				jzyxqz,
			</if>
			<if test="shzt!=null">
				shzt,
			</if>
			<if test="zyzt!=null">
				zyzt,
			</if>
			<if test="glyhId!=null">
				glyhId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="xm!=null">
				#{xm},
			</if>
			<if test="sjh!=null">
				#{sjh},
			</if>
			<if test="sfzzp!=null">
				#{sfzzp},
			</if>
			<if test="sfzh!=null">
				#{sfzh},
			</if>
			<if test="zgzs!=null">
				#{zgzs},
			</if>
			<if test="zgzyxqz!=null">
				#{zgzyxqz},
			</if>
			<if test="jz!=null">
				#{jz},
			</if>
			<if test="jzyxqz!=null">
				#{jzyxqz},
			</if>
			<if test="shzt!=null">
				#{shzt},
			</if>
			<if test="zyzt!=null">
				#{zyzt},
			</if>
			<if test="glyhId!=null">
				#{glyhId},
			</if>
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from si_ji where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.znczCxtc.entity.SiJi">
		update si_ji set 
		<trim suffixOverrides=",">
			<if test="xm!=null">
				xm=#{xm},
			</if>
			<if test="sjh!=null">
				sjh=#{sjh},
			</if>
			<if test="sfzzp!=null">
				sfzzp=#{sfzzp},
			</if>
			<if test="sfzh!=null">
				sfzh=#{sfzh},
			</if>
			<if test="zgzs!=null">
				zgzs=#{zgzs},
			</if>
			<if test="zgzyxqz!=null">
				zgzyxqz=#{zgzyxqz},
			</if>
			<if test="jz!=null">
				jz=#{jz},
			</if>
			<if test="jzyxqz!=null">
				jzyxqz=#{jzyxqz},
			</if>
			<if test="shzt!=null">
				shzt=#{shzt},
			</if>
			<if test="zyzt!=null">
				zyzt=#{zyzt},
			</if>
			<if test="glyhId!=null">
				glyhId=#{glyhId},
			</if>
		</trim>
		 where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from si_ji where 1=1
		<if test="xm!=''&amp;xm!=null">
			and xm like CONCAT('%',#{xm},'%')
		</if> 
		<if test="sjh!=''&amp;sjh!=null">
			and sjh like CONCAT('%',#{sjh},'%')
		</if> 
		<if test="sfzh!=''&amp;sfzh!=null">
			and sfzh like CONCAT('%',#{sfzh},'%')
		</if> 
		<if test="(zyzt!='' or zyzt==0)&amp;zyzt!=null">
			and zyzt=#{zyzt}
		</if> 
		<if test="shzt!=''&amp;shzt!=null">
			and shzt in(#{shzt})
		</if>
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.SiJi">
		select * from si_ji where 1=1
		<if test="xm!=''&amp;xm!=null">
			and xm like CONCAT('%',#{xm},'%')
		</if>  
		<if test="sjh!=''&amp;sjh!=null">
			and sjh like CONCAT('%',#{sjh},'%')
		</if> 
		<if test="sfzh!=''&amp;sfzh!=null">
			and sfzh like CONCAT('%',#{sfzh},'%')
		</if> 
		<if test="(zyzt!='' or zyzt==0)&amp;zyzt!=null">
			and zyzt=#{zyzt}
		</if> 
		<if test="shzt!=''&amp;shzt!=null">
			and shzt in(#{shzt})
		</if>
		 limit ${start},${rows}
	</select>
	<select id="selectById" resultType="com.znczCxtc.entity.SiJi">
		select * from si_ji where id=#{0}
	</select>
	<update id="shenHe">
		update si_ji set 
		<if test="flag=='sh'">
			zyzt=${@com.znczCxtc.entity.SiJi@SHI},shzt=${@com.znczCxtc.entity.SiJi@SHEN_HE_TONG_GUO}
		</if>
		<if test="flag=='th'">
			zyzt=${@com.znczCxtc.entity.SiJi@FOU},shzt=${@com.znczCxtc.entity.SiJi@BIAN_JI_ZHONG}
		</if>
		where 1=1
		<foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</update>
	<select id="queryCBBList" resultType="com.znczCxtc.entity.SiJi">
		select id,xm from si_ji
	</select>
</mapper>