<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.SiJiShenHeJiLuMapper">
	<insert id="add" parameterType="com.znczCxtc.entity.SiJiShenHeJiLu">
		insert into si_ji_shen_he_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sjId!=null">
				sjId,
			</if>
				shsj,
			<if test="shjg!=null">
				shjg,
			</if>
			<if test="shrId!=null">
				shrId,
			</if>
			<if test="bz!=null">
				bz,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sjId!=null">
				#{sjId},
			</if>
				now(),
			<if test="shjg!=null">
				#{shjg},
			</if>
			<if test="shrId!=null">
				#{shrId},
			</if>
			<if test="bz!=null">
				#{bz},
			</if>
		</trim>
	</insert>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from si_ji_shen_he_ji_lu sjshjl left join si_ji sj on sjshjl.sjId=sj.id left join yong_hu shr on sjshjl.shrId=shr.id where 1=1
		<if test="sjXm!=''&amp;sjXm!=null">
			and sj.xm like CONCAT('%',#{sjXm},'%')
		</if>
		<if test="shrYhm!=''&amp;shrYhm!=null">
			and shr.yhm like CONCAT('%',#{shrYhm},'%')
		</if>
		<if test="shsjks!=''&amp;shsjks!=null&amp;shsjjs!=''&amp;shsjjs!=null">
			and sjshjl.shsj between #{shsjks} and #{shsjjs}
		</if>
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.SiJiShenHeJiLu">
		select sjshjl.*,sj.xm sjXm,shr.yhm shrYhm from si_ji_shen_he_ji_lu sjshjl left join si_ji sj on sjshjl.sjId=sj.id left join yong_hu shr on sjshjl.shrId=shr.id where 1=1
		<if test="sjXm!=''&amp;sjXm!=null">
			and sj.xm like CONCAT('%',#{sjXm},'%')
		</if>
		<if test="shrYhm!=''&amp;shrYhm!=null">
			and shr.yhm like CONCAT('%',#{shrYhm},'%')
		</if>
		<if test="shsjks!=''&amp;shsjks!=null&amp;shsjjs!=''&amp;shsjjs!=null">
			and sjshjl.shsj between #{shsjks} and #{shsjjs}
		</if>
		order by sjshjl.shsj desc
		limit #{rowNum},#{rows}
	</select>
</mapper>