<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczCxtc.dao.YongHuShenHeJiLuMapper">
	<insert id="add" parameterType="com.znczCxtc.entity.YongHuShenHeJiLu">
		insert into yong_hu_shen_he_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="yhId!=null">
				yhId,
			</if>
				shsj,
			<if test="shjg!=null">
				shjg,
			</if>
			<if test="shrId!=null">
				shrId,
			</if>
			<if test="bz!=null">
				bz,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="yhId!=null">
				#{yhId},
			</if>
				now(),
			<if test="shjg!=null">
				#{shjg},
			</if>
			<if test="shrId!=null">
				#{shrId},
			</if>
			<if test="bz!=null">
				#{bz},
			</if>
		</trim>
	</insert>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from yong_hu_shen_he_ji_lu yhshjl left join yong_hu yh on yhshjl.yhId=yh.id left join yong_hu shr on yhshjl.shrId=shr.id where 1=1
		<if test="yhm!=''&amp;yhm!=null">
			and yh.yhm like CONCAT('%',#{yhm},'%')
		</if>
		<if test="shrYhm!=''&amp;shrYhm!=null">
			and shr.yhm like CONCAT('%',#{shrYhm},'%')
		</if>
		<if test="shsjks!=''&amp;shsjks!=null&amp;shsjjs!=''&amp;shsjjs!=null">
			and yhshjl.shsj between #{shsjks} and #{shsjjs}
		</if>
	</select>
	<select id="queryList" resultType="com.znczCxtc.entity.YongHuShenHeJiLu">
		select yhshjl.*,yh.yhm,shr.yhm shrYhm from yong_hu_shen_he_ji_lu yhshjl left join yong_hu yh on yhshjl.yhId=yh.id left join yong_hu shr on yhshjl.shrId=shr.id where 1=1
		<if test="yhm!=''&amp;yhm!=null">
			and yh.yhm like CONCAT('%',#{yhm},'%')
		</if>
		<if test="shrYhm!=''&amp;shrYhm!=null">
			and shr.yhm like CONCAT('%',#{shrYhm},'%')
		</if>
		<if test="shsjks!=''&amp;shsjks!=null&amp;shsjjs!=''&amp;shsjjs!=null">
			and yhshjl.shsj between #{shsjks} and #{shsjjs}
		</if>
		order by yhshjl.shsj desc
		limit #{rowNum},#{rows}
	</select>
	<delete id="deleteByIds">
		delete from yong_hu_shen_he_ji_lu where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
</mapper>